#cats{
	width:990px;
	padding-top:45px;
	text-align:center;
}

#cats .submit{
	width:200px;
	margin:20px auto 0 auto;
	display:block;
}
#cats .check_block{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;

	position:relative;
	margin:5px;
	background:#aaa;
	text-align:center;
	width:160px;
	height:160px;
	text-decoration: none;
	color:#fff;
	font-size:16px;
}
#cats .check_block > div{
	position:absolute;
	bottom:5px;
	left:0;
	text-align:center;
	width:100%;
}
#cats .check_block.active{
  background:#00C6FF;
}

#cats .check_block .bubble{
	position:absolute;
	z-index:10;
	top: 90px;
	left:-16px;
	min-width:100px;
	padding:10px;
	background:#369;
	color:#fff;
}
#cats .check_block.bottom .bubble{
	bottom: 90px;
	top:auto;
}
#cats .check_block .bubble:after{
	content:'';
	border-color: transparent transparent #369 transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  position: absolute;
  left: 50px;
  top: -20px;
  width: 0;
  margin:0;
  padding:0;
}
#cats .check_block.bottom .bubble:after{
  border-color: #369 transparent transparent transparent;
  bottom: -20px;
  top:auto;
}

#cats .check_block img{
	margin-top: 30px;
}

.radio_block,
.check_block{
	display:block;
	position:relative;
}
.check_block input,
.radio_block input{
	cursor:pointer;
	width:100%;
	height:100%;
	position:absolute;
	top:0; left:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter:	alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
}
.reg_info{
	padding:70px 0 60px;
	color:#999;
	text-align:center;
	font-size:18px;
}

#social_logins{
	text-align:center;
}

#social_logins a{
	text-decoration:none;
	outline:none;
}
.auth_block{
	width:320px;
	margin:0 auto;
	padding-bottom:20px;
}
.auth_block input{
	width:100%;
	padding:10px 0;
	border-top:1px solid #c5c5c5;
	border-left:1px solid #c5c5c5;
	border-right:1px solid #d8d8d8;
	border-bottom:1px solid #d8d8d8;
	margin-bottom:10px;
	text-align:center;
	font-size:24px;
}
.auth_block .submit{
	color:#fff;
	background:#00c6ff;
	border:none;
	width:100%;
	text-align:center;
	font-size:24px;
	padding:10px 0;
	margin-bottom:15px;
}

#head .arrow > div > span,
#head .arrow > div > a{
	font-size:20px;
	height: 28px;
	padding-top: 2px;
}
.auth_block  .gray{
	text-align:center;
	color:#999;
	display:block;
	padding-bottom:3px;
}

#auth_remi,
#login_short_form{
	display:none;
}

#err_passremail{
	display:block;
	font-weight:bold;
	color:#F00;
	text-align:center;
	font-size:20px;
}