.trace,.debug{
	position:relative;
	z-index:200;
	background:#fff;
}
* { margin: 0; }
html, body { height: 100%; }
body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	background:#fff url(/img/shadow_bg.jpg) center 60px repeat-x;
	line-height: 18px;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* нижний margin является отрицательной величиной высоты footer */
	min-width:990px;	
	padding-top:60px;
}

#footer, #push {
	margin: 0 auto;
	height: 100px; /* .push должен быть той же высоты, что и .footer */
	
}

#footer {
	background:#fff;
	height:40px;
	border-top:1px solid #f0f0f0;
	position:fixed;
	bottom:0; left:0;
	width:100%;
	z-index:30;
}

#head{
	height:60px;
	position:fixed;
	top:0; left:0;
	width:100%;
	z-index:30;
	background:#fff;
	border-bottom: 1px solid #f0f0f0;
}

#head #logo{
	width:200px;
	float:left;
	background:url(/img/logo.jpg) 0 center no-repeat;
	height:60px;
	left:10px;
	top:0;
	position:absolute;
	z-index:9;
}
#head .wide{
  padding:0 0 0 260px;
}
#head .right{
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
}
#head .center{
  padding: 0 230px 0 255px;
}
#head .right,
#head .center{
	padding-top:14px;
}

.clear{clear:both;}

.arrow {
	position:relative;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
.arrow.h24{
  height:24px;
}
.arrow .arr{
	position:absolute;
	left:0;
	top:0;
	border-color: #00c6ff #00c6ff #00c6ff transparent;
  border-style: solid;
  border-width: 15px;
  height: 0;
  margin: 0;
  padding: 0;
	width: 0;
	z-index:-1;
}
.arrow .arr.r{
  border-color: transparent transparent transparent #00c6ff;
  right:0;
	top:0;
	left:auto;
}
.arrow > div{
  margin: 0 30px 0 15px;
  padding:0 0 0 10px;
	text-align:left;
	background:#00c6ff;
	color:#fff;
}
.arrow > div >span,
.arrow > div >a{
	display:block;
	height:25px;
	padding-top:5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position:relative;
}

.arrow > div >a{
	text-decoration:none;
	color:#fff;
}

.arrow.gray >div {
	background:#e4e4e4;
}
.arrow.gray .arr{
  border-color: #e4e4e4 #e4e4e4 #e4e4e4 transparent;
}
.arrow.gray .arr.r{
  border-color: transparent transparent transparent #e4e4e4;
}

#user_info{
	position:relative;
	max-width:220px;
	min-width:190px;
}
#user_profile{
	display:block;
	float:left;
	width:30px; height:30px;
	overflow:hidden;
	text-align:center;
	background:#efefef;
}
#user_profile img{max-width:30px; max-height:30px; vertical-align:middle;}
#write_review{
	display:block;
	float:right;
	width:155px;
	margin-right:10px;
	height: 24px;
  padding-top: 6px;
	background:#00c6ff;
	color:#fff;
	font-size: 14px;
	text-decoration:none;
	font-weight:bold;
}
#write_review i{
  background: url("/img/sprite.png") no-repeat scroll -19px 0 transparent;
  /*border-right: 1px solid #FFFFFF;*/
  display: block;
  float: left;
  height: 18px;
  margin:0 5px 0 8px;
  padding-right: 3px;
  width: 16px;
}

#user_subnav,
.nav_drop{
	display:none;
	background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DFDFDF;
  
	-moz-box-shadow: 0 1px 2px #777777;
	-webkit-box-shadow:  0 1px 2px #777777;
	box-shadow: 0 1px 2px #777777;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=180, Color='#CCCCCC');

  left: -11px;
  padding: 10px;
  position: absolute;
  top: 42px;
  width: 178px;
  z-index: 90;
}
.nav_drop.up{
	top:auto;
	bottom: 27px;
	left:auto;
	right:0;
}
.nav_drop.up .arr,
.nav_drop.up .arr span{
  top:auto;
  bottom:-20px;
  left:auto;
  right: 50px;
  border-color: #dfdfdf transparent transparent transparent;
}
.nav_drop.up .arr span{
  bottom: -7px;
  right:-10px;
	border-color: #fff transparent transparent transparent;
}

#user_subnav .arr,
#user_subnav .arr span,
.nav_drop .arr,
.nav_drop .arr span{
	position:absolute;
	left:15px;
	top:-20px;
	border-color: transparent transparent #dfdfdf transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  margin: 0;
  padding: 0;
	width: 0;
	z-index:1;
}
#user_subnav .arr span,
.nav_drop .arr span{
	left: -10px;
  top: -7px;
	border-color: transparent transparent #fff transparent;
}

#user_subnav .title,
.nav_drop .title{
	display:block;
	font-weight:bold;
	color:#000;
	height:30px;
	border-bottom:1px solid #dedede;
}
#user_subnav a,
.nav_drop a{
	display:block;
	font-size:14px;
	color:#575757;
	border-bottom:1px solid #dedede;
	text-decoration:none;
	padding:5px 0;
}
#user_subnav a#user_logout{
	border:none;
	font-size:10px;
}

#search_form{
	display:block;
	border:1px solid #dfdfdf;
	height:22px;
	padding:5px 25px 0 10px;
	position:relative;
}
#search_form input,
#search_form select{
	border:none;
}
#search_query,
#search_form .liveSearch{
	width:70%;
}
#search_form .liveSearch{
	float:left;
}
#search_reg{
  width:29%;
}
#search_reg_other{
	width:27%;
	border-left:1px dotted #f00 !important;
	padding-left:1%;
	display:none;
}
#search_apply{
	width:18px;
	height:17px;
	background:url(/img/sprite.png) -77px 0 no-repeat;
	text-indent:-9999px;
	display:block;
	position:absolute;
	top:6px;
	right:6px;
}

#login_block{
	position:relative;
	padding-left: 40px;
}
#login_block #login_form{
	display:none;
	background:#fff;
  border: 1px solid #DFDFDF;
  box-shadow: 0 1px 1px #777777;
  left: 40px;
  padding: 13px;
  position: absolute;
  top: 38px;
  width: 127px;
  z-index: 90;
}
#login_block #login_form input{
	border-color: #C5C5C5 #D8D8D8 #D8D8D8 #C5C5C5;
  border-style: solid;
  border-width: 1px;
  margin-bottom:5px;
  padding: 3px 0 3px 8px;
  width: 118px;
  font-size:12px;
}
#login_block #login_form .submit{
	background: none repeat scroll 0 0 #00C6FF;
  border: 1px solid #00C6FF;
  color: #FFFFFF;
	font-weight:bold;
  text-align: center;
  width:128px;
  margin-bottom:0;
  font-size:16px;
  padding:2px 0;
  cursor:pointer;
}
#login_block .foot{color:#687184;}
#login_block .foot #uLogin{
	padding-left:6px;
	height:24px;
	text-align:center;
	padding-top:10px;
}
#login_block .foot a{
	color:#00C6FF;
	font-size:11px;
}
#login_block .foot a:hover{
	text-decoration:none;
}
#login_block .arr,
#login_block .arr span{
  border-color: transparent transparent #DFDFDF;
    border-style: solid;
    border-width: 10px;
    height: 0;
    left: 70px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -21px;
    width: 0;
    z-index: 92;
}
#login_block #write_review{
	float:left;
}
#login_block .arr span{
	left: -10px;
  top: -9px;
	border-color: transparent transparent #fff transparent;
}
#login_block .square{
  display:block;
	float:left;
	width:25px;
	height:25px;
	background:#00C6FF;
}
#login_block .square i{
  display:block;
	width:15px;
	height:16px;
	background: url(/img/sprite.png) no-repeat -62px 0;
	margin:5px 0 0 5px;
}
#login_block .title{
	font-size:12px;
	color:#000;
	background:#fff;	
	display:block;
	font-weight:bold;
	padding-bottom:5px;
	margin-bottom:5px;
}

#login_block .foot{
	font-size:10px;	
	display:block;
	padding-top:5px;
	margin-top:5px;
}

#dialog_block{
	position:absolute;
	top:60px;
	left:0;
	z-index:25;
	width:100%;
	background:#fff;
	display:none;
	box-shadow:0 5px 5px #777;
	padding-top:20px;
}

.relative{
	position:relative;
}
.resDiv{
	background:#fff;
	position:absolute;
	z-index:30;
	width: 100%;
	margin-left: -10px;
	box-shadow: 0 3px 2px #cfcfcf;
}

.resultList{
	list-style:none;
	padding:0; margin:0 5px;
}
.resultList li{
/*  padding:5px; margin:0;
  clear:both;
  border-bottom:1px solid #e4e4e4;*/
padding: 5px;
margin: 0;
clear: both;
border-bottom: 1px solid #efefef;
font-size: 24px;
color: #687184;
padding: 10px 5px;
  
}
.resultList li:hover{

	background: #fafafa;
margin-left: -5px;
margin-right: -5px;
padding-left: 10px;
padding-right: 10px;
}
.resultList li a{
	color: #00c6ff;
}
.resultList .head{
	color: #687184;
font-size: 12px;
font-weight: normal;
padding-bottom: 0px;
margin-top: 10px;
border-bottom: none;
}

.resultList li .point_img{
	width:50px; float:left; margin-right:10px;
}
.resultList li .point_img img{width:100%;}
.resultList li p{
	font-size:10px;
}

.resultList li p a{
	text-decoration:none;
	color:#687184;
	font-size:13px;
font-weight:bold
}
.resultList li p a:hover{	
	color:#000;
	
}
.resultList li p small{
	color:#687184;
	font-size:11px;
	font-weight:normal;
	
}

.review_form{
	width:960px;
	margin:0 auto;
}
.review_form label{
	font-size:30px;
	color:#434343;
	border-bottom:1px solid #dedede;
	padding:20px 15px 18px 15px;
	margin-bottom:18px;
	display:block;
}
.review_form p{
	font-size:12px;
	color:#434343;
	padding:0 15px 20px 15px;
}
.review_form textarea{
	width:100%;
	height:175px;
}

.review_form .foot{
  border-top:1px solid #dedede;
  margin-top:20px;
  padding-top:20px;
}

.review_form .recomend_block{
 	text-align:center;
 	padding:0;
 	float:left;
 	width:60%;
 	margin-left:-5px;
}

.review_form .recomend_block > span{
  color:#434343;
  font-size:12px;
  display:block;
  height:20px;
  display:none;
}

.review_form .recomend_block a{
    border: 1px solid #FFFFFF;
    display: block;
    float: left;
    text-decoration: none;
    width: 49.4%;
    outline:none;
}

.review_form .recomend_block a span{
	background:#000;
	padding:10px 0;
	background:#bfbfbf;
	color:#fff;
	display:block;
	margin:5px;
	font-size:18px;
	text-transform:lowercase;
	height:20px;
}
.review_form .recomend_block a.active span{
	background:#00c6ff;
}
.review_form .recomend_block a.active{
	border:1px solid #d6d6d6;
}
.review_form .submit{
	width:40%;
	float:right;
	border:none;
	background:#00c6ff;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	margin-top: 6px;
  height: 40px;
}


.profile_dialog{
	
	margin: 0 230px 0 255px;
	position: relative;
}
#dialog_block .close{
	position:absolute;
	right:0;
	top:-20px;
}

.profile_dialog .fline{
	padding-bottom:35px;
}
.profile_dialog .pro_avatar,
.profile_dialog .pro_info{
	float:left;
}
.profile_dialog .pro_avatar{
	width:18%;	
	overflow:hidden;
	position:relative;
}
.profile_dialog .pro_avatar img{ 
	width:75%;
	max-width:100px;
}
.profile_dialog .pro_avatar input{
	position:absolute;
	font-size:120px;
	left:0;
	top:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.profile_dialog .field{
	margin-bottom:20px;
}

.profile_dialog .field label{
	width:18%;
	font-size: 14px;
color: #687184;

	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
.profile_dialog .field label.sh{
	width:auto;
	padding:0 10px 0 5px;
}
.profile_dialog .field input{
	width:80%;
	font-size:20px;
	margin-top:-3px;
}
.profile_dialog .field input.sh{
	width:auto;
	margin-top:2px;
}

.profile_dialog .pro_name{
	color:#434343;
	font-size:30px;
	display:block;
	line-height:36px;
}
.profile_dialog .pro_geo{
	background:url(/img/globe.jpg) 0 2px no-repeat;
	padding-left:30px;
	color:#434343;
	font-size:17px;
	line-height:24px;
	display: block;
	margin: 5px 0;
}
input.submit,
button.submit{
	background:#00c6ff;
	color:#fff;
	font-size:19px;
	font-weight:bold;
	border:none;
	padding:5px;
	border:1px solid #00c6ff;
}

.check_block{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;

	position:relative;
	margin:5px;
	background:#aaa;
	text-align:center;
	width:50px;
	height:50px;
	text-decoration: none;
	color:#fff;
	font-size:16px;
}
.check_block > div{
	display:none;
	position:absolute;
	bottom:5px;
	left:0;
	text-align:center;
	width:100%;
}
.check_block.active{
  background:#00C6FF;
}
.check_block img{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter:	alpha(opacity=50);
		-moz-opacity: .5;
		-khtml-opacity: .5;
		opacity: .5;
}
.check_block.active img{
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter:	alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
}

.check_block .bubble{
	position:absolute;
	z-index:10;
	top: 90px;
	left:-16px;
	min-width:100px;
	padding:10px;
	background:#369;
	color:#fff;
}
.check_block.bottom .bubble{
	bottom: 90px;
	top:auto;
}
.check_block .bubble:after{
	content:'';
	border-color: transparent transparent #369 transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  position: absolute;
  left: 50px;
  top: -20px;
  width: 0;
  margin:0;
  padding:0;
}
.check_block.bottom .bubble:after{
  border-color: #369 transparent transparent transparent;
  bottom: -20px;
  top:auto;
}

.check_block img{
	max-width:100%;
}

.radio_block,
.check_block{
	position:relative;
}
.check_block input,
.radio_block input{
	cursor:pointer;
	width:100%;
	height:100%;
	position:absolute;
	z-index:10;
	top:0; left:0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter:	alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
}
.content h2.nothing{
height: 45px;
font-size: 30px;
color: #b1b1b1;
margin: 25px 15px 0 15px;
font-weight: normal;
border-bottom: 1px solid #efefef;
line-height: 24px;
}

#footer .pop{
	display:none;
}
#footer .copy{
	margin:0 20px 0 10px;
}
#footer .copy,#footer .socials,#footer .nav{
	margin-top:12px;
	float:left;
	display:block;
	color:#8b8e92;
	font-size:12px;
}
#footer .nav{
	float:right;
	margin-right:10px;
}
#footer .nav a{
	text-decoration:none;
	color:#8b8e92;
	padding:0 5px;
}
#footer .nav .item{position:relative;}
#footer .nav .item .nav_drop a{
	display:block;
	color:#575757;
	padding:10px 0;
	border-top:1px solid #dedede;
	border-bottom:none;
}
#footer .nav .item .nav_drop A:first-child{
	border:none;
}

.pop_err,
.pop_msg{
	position:fixed;
	z-index:100;
	width:300px;
	left:50%;
	top:45%;
	margin-left:-150px;
	padding:20px 10px 10px 10px;
	background:#f00;
	color:#fff;
	box-shadow:0 0 5px #000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.pop_msg{
  background:#0f0;
}
.pop_err .close,
.pop_msg .close{
	position:absolute;
	top:5px;
	right:5px;
	font-size:10px;
	color:#fff;
}

.interest_dialog{
	margin: 0 auto;
	position: relative;
	width: 72%;
}

.interest_dialog h3{
	margin-top:10px;
}

.interest_dialog .points .check_block{
	overflow:hidden;
}
.interest_dialog .points .check_block img{
	max-width:120%;
	max-height:120%;
	min-height:100%;
	min-width:100%;

}