#wrapper{
	width:100%;
}
#head .center {
	padding: 14px 210px 0 230px;
}
#point_wrapper{
	margin: 0 auto;
	width: 990px;
}
#point_wrapper{
	margin-top:236px;
	position: relative;
	z-index: 20;
}
#map_box_block{
	position:absolute;
	top:60px;
	width:100%;
	z-index:10;
}
#map{
	width:100%;
	height:400px;
	background:url(/img/vp_pattern.jpg);
	overflow: hidden;
}

#point_main{
	background:#fff;
	box-shadow:0 3px 3px #ccc;
	margin-bottom:20px;
	padding-bottom:16px;
}

#point_gallery{
	height:180px;
	padding-left: 8px;
  text-align: left;
	font-size:0;
}

#point_gallery a{
	text-decoration:none;
}
#point_gallery img{
	padding: 15px 6px;
}

#point_name,
#point_tags,
#point_info{
  margin-left:20px;
}

#point_name{
	font-size:20px;
	margin-bottom:10px;
}
#point_info{
  margin-top:10px;
  margin-bottom:10px;
	list-style:none;
	padding:0;
	width:300px;
	float:left;
}

#point_info li span{
	font-weight:bold;
	float:right;
	width:200px;
}

#point_social{
	width:100%;
	border:1px solid #e4e4e4;
}
#point_social .head,
#point_social .foot{
	background:#e4e4e4;
	font-size:20px;
	padding:20px;
}

.comment{
	padding:65px 40px 10px 85px;
	margin-bottom:16px;
	position:relative;
	border:1px solid #e9e8e8;
	
	-moz-box-shadow: 0 3px 3px #CCCCCC;
	-webkit-box-shadow: 0 3px 3px #CCCCCC;
	box-shadow: 0 3px 3px #CCCCCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#CCCCCC');
}
.comment .bullet{
  min-height: 75px;
  left: 16px;
  position: absolute;
  top: 10px;
  width: 75px;
}

.comment .bullet img{
	max-width:50px;
	max-height:50px;
}

#point_comm{
	margin-top:20px;
}

#point_comm h3{
	color:#434343;
	margin:0 0 20px 0;
	font-size:30px;
}

.comment .user{position:absolute; top:10px; left: 85px;}
.comment .date{color:#687184; font-size:9px;}
.comment .not_recommend,.comment .recommend,.comment .name{color:#4d4d4d; font-size:14px; font-weight:bold;}
.comment .recommend{color:#00c6ff;}
.comment .not_recommend{color:#000;}
.comment .duration{display:block; font-size:11px; color:#687184;}

.comment .text{color:#687184; font-size:13px; line-height:18px; }

.comment .likes{
		background:#fff;
    top: 40px;
    display: block;
    height: 15px;
    left: 40px;
    position: absolute;
    text-align: center;
    width: 15px;
}
.comment .likes.likes_0{display:none;}

.stat_block .stat_info{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	position:relative;
	width:39%;
}
.stat_block .stat_info .stat_act{
	display:none;
}
.stat_block .stat_info.hover .stat_act{
	position:absolute;
	top:0;left:-35px;
	width:100%;
	display:block;
}
.stat_block .stat_info.hover .stat_act a{
	display:block;
	float:left;
	width:49.9%;
	background:#00C6FF;
	color:#fff;
	height: 20px;
	padding: 7px 0 3px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}
.stat_block .stat_info.hover .stat_act a.minus{
	background:#000;
}

.stat_arr{
	font-weight:bold;
	width:60%;
}

.stat_arr .weight{
	position: absolute;
  right: 6px;
  top: 6px;

	font-size:16px;
  padding:0 0 0 24px;
  display:block;
  height:18px;
  width:41px;
  background:url(/img/vote_hands.png) no-repeat;
}
.stat_arr .weight.w-1{
	background-position:0 -22px;
	color:#000;
}

.stat_block .arrow > div > span{
	font-size:20px;
	height: 27px;
	padding-top: 3px;
	padding-right: 75px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#head{
    margin: 0 auto;
    max-width: 1440px;
}