#wrapper{
	width:100%;
}
#head .center {
	padding: 14px 210px 0 230px;
}
#point_wrapper{
	margin: 0 auto;
	width: 990px;
}
#point_wrapper{
	margin-top:236px;
	position: relative;
	z-index: 20;
}
#map_box_block{
	position:absolute;
	top:60px;
	width:100%;
	z-index:10;
}
#map{
	width:100%;
	height:400px;
	background:url(/img/vp_pattern.jpg);
	overflow: hidden;
}

#point_main{
	background:#fff;
	box-shadow:0 1px 3px #ccc;
	margin-bottom:20px;
	padding-bottom:16px;
	position: relative;
}

#point_gallery{
	height:170px;
	padding-left: 5px;
  text-align: left;
	font-size:0;
	margin-bottom:20px;
	overflow:hidden;
}

#point_gallery a{
	text-decoration:none;
	display: block;
	float: left;
	height: 163px;
	overflow: hidden;
	padding: 7px 4px 0;
	text-align: center;
	width: 155px;
}
#point_gallery img{
    max-height: 150%;
    max-width: 150%;
    min-height: 100%;
    min-width: 100%;
}

#point_name,
#point_tags,
#point_info{
  margin-left:20px;
  
}
#point_tags{
	font-size:14px;
	color:#687184;	
}
#point_name_line{
	position:relative;
	padding-right:165px;
}
#point_name{
	font-size:30px;
	margin-bottom:10px;
	font-weight:bold;
}
#point_likes{
	position:absolute;
	top:0;
	right:0;
	width:165px;
}
#point_info{margin-right: 20px; width:460px;}
#point_info li span{width:385px;}
#point_info2{width:310px;}
#point_info2 li span{width:200px; }

.point_info{
	list-style:none;
  margin-top:10px;
  margin-bottom:10px;
	padding:0;
	float:left;
	color: #687184;
	font-size: 11px;
}
.point_info li{
	margin-bottom:5px;
}
.point_info li span{
	font-weight:bold;
	color:#000;
	font-size:12px;
	float:right;
}

#point_social{
	width:100%;
	border:1px solid #e4e4e4;
}
#point_social .head,
#point_social .foot{
	background:#e4e4e4;
	font-size:20px;
	padding:20px;
}

.comment{
	padding:35px 40px 10px 85px;
	margin-bottom:16px;
	position:relative;
	/*border:1px solid #e9e8e8;*/
	
	-moz-box-shadow: 0 1px 3px #CCCCCC;
	-webkit-box-shadow: 0 1px 3px #CCCCCC;
	box-shadow: 0 1px 3px #CCCCCC;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#CCCCCC')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#CCCCCC');
}
.comment .bullet{
  min-height: 75px;
  left: 16px;
  position: absolute;
  top: 10px;
  width: 75px;
}

.comment .bullet img{
	max-width:50px;
	max-height:50px;
}

#point_comm{
	margin-top:20px;
}

#point_comm h3{
	color:#434343;
	margin:0 0 20px 20px;
	font-size:30px;
	font-weight:normal;
}

.comment .user{position:absolute; top:10px; left: 85px; color: #687184;}
.comment .user imgvertical-align: middle;}
.comment .date{color:#687184; font-size:10px;}
.comment .not_recommend,.comment .recommend,.comment .name{color:#4d4d4d; font-size:14px; font-weight:bold;}
.comment .recommend{color:#00c6ff;}
.comment .not_recommend{color:#000;}
.comment .duration{ font-size:11px; color:#687184; display:block; margin-top: 5px;}
.comment .subscribe{ font-size:11px; color:#687184; display:block; height: 11px; line-height: 11px;}

.comment .text{color:#687184; font-size:13px; line-height:18px; margin-top: 38px;}
.comment.forign .text{
  margin-top: 0;
}
.comment.forign img{
	vertical-align:middle;
}
.comment.forign .date{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	padding: 0 10px;
}
.comment .foot{
	margin-top:20px;
}
.comment .foot a.fnc{
	border-left:1px solid #b1b2b4;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;

	padding:0 7px;
	color:#000;
	text-transform:lowercase;
	line-height: 12px;
	text-decoration:none;
}
.comment .foot a.fnc:first-child{
	border:none;
	margin-left:-7px;
}
.comment .foot a.fnc:hover{
  text-decoration:underline;
}

.comment .likes{
		background:#fff;
    
    display: block;
    height: 15px;
    left: -50px;
    top: 40px;
    position: absolute;
    text-align: center;
    width: 15px;
}
.comment .likes.likes_0{display:none;}

.stat_block .stat_info{
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
	position:relative;
	width:39%;
	font-size:11px;
	line-height:14px;
	color:#a4a5a7;
	margin-top:2px;
}
.stat_block .stat_info .stat_act{
	display:none;
}
.stat_block .stat_info.hover .stat_act{
	position:absolute;
	top:-2px;
	left:-35px;
	width:100%;
	display:block;
}
.stat_block .stat_info.hover .stat_act a{
	display:block;
	float:left;
	width:49.9%;
	background:#00C6FF;
	color:#fff;
	height: 20px;
	padding: 7px 0 3px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}
.stat_block .stat_info.hover .stat_act a.minus{
	background:#000;
}

.stat_arr{
	font-weight:bold;
	width:60%;
}

.stat_arr .weight{
	position: absolute;
  right: 6px;
  top: 3px;

	font-size:16px;
  padding:0 0 0 24px;
  display:block;
  height:18px;
  width:41px;
  background:url(/img/vote_hands.png) no-repeat;
}
.stat_arr .weight.w-1{
	background-position:0 -22px;
	color:#000;
}

.stat_block .arrow > div > span{
	font-size:20px;
	height: 27px;
	padding-top: 3px;
	padding-right: 75px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 24px;
	font-weight: normal;
}

#head{
  margin: 0 auto;
}

#point_control{
	display:block;
  float: left;
  width: 180px;
  margin-top:20px;
}
#point_control a{
	color:#777a7f;
	font-size:11px;
	text-decoration:none;
	display:block;
}
#point_control a i{
	width:10px; height:15px;
	display:block; float:left;
	background:url(/img/sprite.png) -15px -17px;
	margin-right:5px;
}
p.dscr{
	font-size:11px;
	color:#777a7f;
	margin-left: 20px;
	width: 800px;
}
.answers .comment{
	margin:20px 0 0 -20px;
	padding:15px 60px 10px 20px;;
}
.answers .comment .bullet{
	left:-49px;
}
.answers .comment .bullet img{
	max-width:28px;
	max-height:28px
}

.answers  .comment .user{
	position:static;
}
.answers  .comment .text{
	font-style:italic;
	margin-top:10px;
}
.answers .comment .foot a.answer{display:none;}
.answers  .comment .arr,
.answers  .comment .arr span{
	position:absolute;
	left:-30px;
	top:10px;
	border-color: transparent #ccc transparent transparent;
  border-style: solid;
  border-width: 15px;
  height: 0;
  margin: 0;
  padding: 0;
	width: 0;
	z-index:1;
}
.answers  .comment .arr span{
  border-color: transparent #fff transparent transparent;
  left: -14px;
  top: -15px;

}
.answers  .comment .relator{
	position:relative;
}

.comment .ans_form textarea{
	width:100%;
}
.comment .ans_form .foot{
	margin-top:5px;
}
.comment .ans_form .submit{
	margin-right:20px;
}

#point_gallery a.admin{
  position:relative;
}
#point_gallery a.admin span{
	display:block;
	width:100%;
	height:165px;
	position:absolute;
	left:0;
	top:8px;
	z-index:10;
	background:#00C6FF;
	opacity:.5;
}
#point_gallery a.admin span i{
	margin:42px 0 0 35px;
	width:100px; height:85px; display:block;
	background:url(/img/sprite.png) 0 -59px no-repeat;
}

